.contenedor-grafico {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-grafico h1 {
  font-size: 1.5em;
}

.contenedor-grafico h2 {
  margin-top: 32px;
  margin-bottom: 8px;
}

.pronostico-semanal {
  margin-bottom: 16px;
  width: 300px;
  text-align: center;
  background-color: #233D88;
  border-radius: 16px;
  color: white;
  padding: 24px 16px;
}

.pronostico-semanal span {
  font-size: 2em;
  display: block;
  margin: 10px;
}